<table class="table table-striped" style="margin-top: 20px">
  <thead>
    <tr>
      <th scope="col">From Date</th>
      <td>{{customerService.bookingData.FromDate | date:'shortDate'}}</td>
    </tr>
    <tr>
      <th scope="col">To Date</th>
      <td>{{customerService.bookingData.ToDate | date:'shortDate'}}</td>
    </tr>
    <tr>
      <th scope="col">Book Time</th>
      <td>{{customerService.bookingData.BookTime}}</td>
    </tr>
    <tr>
      <th scope="col">Drop Time</th>
      <td>{{customerService.bookingData.DropTime}}</td>
    </tr>
    <tr>
      <th scope="col">Pickup Point</th>
      <td>{{customerService.bookingData.PickupPoint}}</td>
    </tr>
    <tr>
        <th scope="col">Drop Point</th>
        <td>{{customerService.bookingData.DropPoint}}</td>
      </tr>
    <tr>
      <th scope="col">Fare</th>
      <td>{{customerService.bookingData.Fare | currency:"₹"}}</td>
    </tr>
    <tr>
      <th scope="col">Employee ID</th>
      <td>{{customerService.bookingData.employeeId}}</td>
    </tr>
    <tr>
      <th scope="col">Customer ID</th>
      <td>{{customerService.bookingData.customerId}}</td>
    </tr>
    <tr>
        <td>
          <input type="button" value="Pay Securely" (click)="Payment()" class="btn btn-success">
        </td>
      </tr>
    </thead>
</table>