<div class="py-5">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <span class="anchor" id="formLogin"></span>

      <!-- form card login -->
      <div class="card rounded-0">
        <div class="card-header">
          <h3 class="mb-0">Register Employee</h3>
        </div>
        <div class="card-body">
          <form class="form" #registerForm="ngForm">
            <div class="form-group">
              <label for="uname1">EmployeeName</label>
              <input type="text" [(ngModel)]="adminService.employee.EmployeeName" name="EmployeeName"
                class="form-control rounded-0" #employeename="ngModel"
                [class.is-invalid]="employeename.invalid && employeename.touched" pattern="[a-zA-Z]+[\-'\s]?[a-zA-Z ]+$"
                required>
              <small class="text-danger" [class.d-none]="employeename.valid || employeename.untouched">Employee Name is
                required and contain alphabets only.</small>
            </div>
            <div class="form-group">
              <label for="uname1">MobileNumber</label>
              <input type="text" [(ngModel)]="adminService.employee.MobileNumber" name="MobileNumber"
                class="form-control rounded-0" #mobile="ngModel" [class.is-invalid]="mobile.invalid && mobile.touched"
                pattern="^[1-9]{1}[0-9]{9}$" required>
              <small class="text-danger" [class.d-none]="mobile.valid || mobile.untouched">Mobile Number is
                required with 10 digits.</small>
            </div>
            <div class="form-group">
              <label for="uname1">City</label>
              <select name="city" #city="ngModel" [class.is-invalid]="city.invalid && city.touched"
                  class="custom-select" [(ngModel)]="adminService.employee.City" required>
                  <option value="" selected disabled>----Select Your Location----</option>
                  <option>Jaipur</option>
                  <option>Jodhpur</option>
                  <option>Udaipur</option>
                  <option>Bikaner</option>
                  <option>Kota</option>
              </select>
              <small class="text-danger" [class.d-none]="city.valid || city.untouched">Please Select Your Location</small>
          </div>
            
            <div class="form-group">
              <label for="uname1">Email</label>
              <input type="email" [(ngModel)]="adminService.employee.Email" name="Email" class="form-control rounded-0"
                #email="ngModel" [class.is-invalid]="email.invalid && email.touched"
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required>
              <small class="text-danger" [class.d-none]="email.valid || email.untouched">Email is
                required in correct format</small>
            </div>
            <div class="form-group">
              <label for="uname1">LicenseNumber</label>
              <input type="number" [(ngModel)]="adminService.employee.LicenseNumber" name="LicenseNumber"
                class="form-control rounded-0" #license="ngModel"
                [class.is-invalid]="license.invalid && license.touched" required>
              <small class="text-danger" [class.d-none]="license.valid || license.untouched">License is
                required and contain digits only</small>
            </div>

            <button type="button" [disabled]="registerForm.form.invalid" (click)="registerEmployee(registerForm)"
              class="btn btn-primary float-right">Register</button>
            <button type="button" (click)="reset(registerForm)" class="btn btn-danger float-left">Reset</button>

          </form>
        </div>
        <!--/card-block-->
      </div>
      <!-- /form card login -->

    </div>


  </div>
</div>