<div class="py-5">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <span class="anchor" id="formLogin"></span>

      <!-- form card login -->
      <div class="card rounded-0">
        <div class="card-header">
          <h3 class="mb-0">Change Password</h3>
        </div>
        <div class="card-body">
          <form class="form" #changePassword="ngForm">
            <div class="form-group">
              <label for="uname1">UserId</label>
              <input type="text" [(ngModel)]="this.adminService.changePass.UserID" name="UserID"
                class="form-control rounded-0" required readonly>
            </div>
            <div class="form-group">
              <label for="uname1">UserName</label>
              <input type="text" [(ngModel)]="this.adminService.changePass.UserName" name="UserName"
                class="form-control rounded-0" required readonly>
            </div>

            <div class="form-group">
              <label for="uname1">Password</label>
              <input type="text" [(ngModel)]="this.adminService.changePass.Password" name="Password"
                class="form-control rounded-0" required readonly>
            </div>
            <div class="form-group">
              <label for="uname1">Enter New Password</label>
              <input type="password" [(ngModel)]="this.adminService.changePass.NewPassWord" name="NewPassWord"
                class="form-control rounded-0" #Pass="ngModel" [class.is-invalid]="Pass.invalid && Pass.touched"
                required>
              <small class="text-danger" [class.d-none]="Pass.valid || Pass.untouched">Password is
                required.</small>
            </div>
            <div class="form-group">
              <label for="uname1">Confirm New Password</label>
              <input type="password" [(ngModel)]="adminService.changePass.ConfirmPassword" name="ConfirmPassword"
                class="form-control rounded-0" appConfirmEqualValidator="NewPassWord" #confirmPass="ngModel"
                [class.is-invalid]="confirmPass.invalid && confirmPass.touched" required>
              <small class="text-danger" [class.d-none]="confirmPass.valid || confirmPass.untouched">Confirm Password is
                required.</small>
              <br>
              <small class="text-danger" *ngIf="confirmPass.errors?.notEqual">Password and
                Confirm Password not match.</small>
            </div>

            <button type="button" [disabled]="changePassword.form.invalid" (click)="change(changePassword)"
              class="btn btn-primary float-right">Change</button>
          </form>
        </div>
        <!--/card-block-->
      </div>
      <!-- /form card login -->

    </div>


  </div>
</div>